
<footer>
        <div class="foot">
            <div class="question">
                <h2>Have Any questions or want to talk to me?</h2>
                <a href="mailto:blockchain@kenpi.tech" target="_blank"><button class="button"><span>Contact me</span></button></a>
            </div>
            <div class="footer-links">
                <div>
                    <img src="../img/whitelogo.png" alt="profile pic">
                    <p>Frontend Web 3.0 Developer</p>
                </div>
                <ul>
                    <li><a href="https://github.com/KenLearnsCoding" target="_blank"><i class="bi bi-github"></i></a></li>
                    <!-- <li><a href="https://twitter.com/PhamPhatt" target="_blank"><i class="bi bi-twitter-x"></i></a></li> -->
                    <li><a href="https://www.instagram.com/kensuke_uwu/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/tien-phat-pham-523776186/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
            <p>2024 | Ken Pham</p>
        </div>
</footer>

<script src="../js/script.js"></script>
