<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ken's Portfolio</title>
    <link rel="icon" type="image/png" href="../img/whitelogo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/work.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/healthcare.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


</head>
<body>
    
