<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>


<main>
   <div class="about">
          <div class="hi">
               <h3>
                    Who Am I? 
               </h3>
          </div>
          <div class="aboutImg">
               <img src="./img/profile.jpeg" alt="profile">
          </div>
       
          <div class="brief_introduction">
               <p>I'm Ken. As a fresh graduate navigating the ever-evolving realm of Web 3.0 and blockchain development, I'm thrilled to showcase my journey, experiments, and creations in this digital space. Embarking on this path, I've delved into the dynamic world of Web 3.0, where innovation knows no bounds. From crafting immersive user experiences to implementing cutting-edge decentralized applications, I've embraced the challenges with fervor and curiosity.</p>
               <a href="/work">
               <Button class="button">
                         <span>
                              My Projects
                         </span> 
                    </Button>
               </a>
          </div>
          
   </div>

   <div class="focus">
        <p>WHAT I AM BUILDING</p>
        <h3>BLOCKCHAIN DEVELOPMENT</h2>
          <br>
        <h3>WEB 3.0 FRONT-END DEVELOPMENT</h2>
        <img src="./img/blockchain.png" alt="blockchain">
   </div>
</main>

<!-- Path: files/partials/footer.ejs -->
<%- include('partials/footer.ejs') %>

</body>
</html>
