<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>


<main>
    <div class="contact"> 
       <div class="contact_img">
            <p>Contact</p>
            <img src="./img/profile.jpeg" alt="profile pic">
       </div>
       <div class="contact_info">
            <h1>Lets Talk!</h1>
            <p>Lets Build a web 3.0 world for the upcoming trend!</p>

            <a href="mailto:blockchain@kenpi.tech" target="_blank"><button class="button"><span>My Email</span></button></a>
       </div>


    </div>
</main>


<!-- Path: files/partials/footer.ejs -->
<%- include('partials/footer.ejs') %>

</body>
</html>
