<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>


<section>
    <div class="healthcare">
        <h1>Crypto Exchange</h1>
        <div class="work_img">
            <a href="#">
                <img src="./img/cryptoExchange.png" alt="crypto">
            </a>
            <a href="https://medium.com/@kenpivietnamese/web-3-welcome-to-a-new-era-of-the-digital-world-8acd83d6a441"><button class="button"><span>Crypto Exchange Medium</span></button></a>
            <a href="https://github.com/KenLearnsCoding/Crypto_exchange_edition" target="_blank"><button class="button"><span>Github</span></button></a>
        </div>
        <h2>Goal</h2>
        <p>I have experience with a lot of brokers and platform for crypto trading. I really like them. I popped up an idea to create a CEX for my clients and users 
            to experience the front-end of crypto trading from me. I could not implement the blockchain to this project, i still needed time to learn it. I had a blockchain project about healthcare too, you can check in the bio page. 
        </p>
        <br>
        <h2>Information About The Project</h2>
        <p>
            The project will have you to create and sign in your acc, you also can modify your acc information. The project will direct you to different pages to experience. 
            For this project, i built it simple to reduce the bug fixing time and its easier for yall to use. And this project was built by only me, so the features would be limited as well. Check out my medium article about this project! 
        </p>

    </div>
   
</section>

<!-- Path: files/partials/footer.ejs -->
<%- include('partials/footer.ejs') %>

</body>
</html>
