<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>


<section>
    <div class="healthcare">
        <h1>Healthcare Digital Wallet</h1>
        <div class="work_img">
            <a href="#">
                <img src="./img/healthcare.png" alt="healthcare">
            </a>
            <a href="https://github.com/KenLearnsCoding/Healthcare_Digital_Wallet" target="_blank"><button class="button"><span>Github</span></button></a>
        </div>
    </div>
    <p>I make this project, because i have a potential vision for healthcare in the blockchain field. Users will 
        own their data, protect their data with their hot wallet or cold wallet. Users can also share their data with
        doctors such at health status, insurance ID, insurance date, phone number whenever they visit hospital or just walk in clinic.
    </p>
</section>

<!-- Path: files/partials/footer.ejs -->
<%- include('partials/footer.ejs') %>

</body>
</html>
