
<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<section>
    <div class="healthcare">
        <h1>Weather Tracker</h1>
        <div class="work_img">
            <a href="#">
                <img src="./img/weather.png" alt="healthcare">
            </a>
            <a href="https://weather-website-gilt.vercel.app/" target="_blank"><button class="button"><span>Website</span></button></a>
            <a href="https://github.com/KenLearnsCoding/Weather_Website" target="_blank"><button class="button"><span>Github</span></button></a>
        </div>
        <p>This project is a weather tracker that uses the OpenWeather API to get the weather data of a city. The user can search for a city and get the current weather data of that city. The project is built using Js DOM only. . The project is deployed on Vercel. I Interacted with JS API for first time, and it was 
            really fun when i had to read the doc. This project is the first step for me to build my own API for the rest of my projects. Experience it with the website. Lets check it out!
        </p>
    </div>
   
</section>


<!-- Path: files/partials/footer.ejs -->
<%- include('partials/footer.ejs') %>

</body>
</html>
