<%- include('partials/head.ejs')%>
<%- include('partials/header.ejs') %>

<main>
    <div class="container">
        <h1>Selected Project</h1>

        <div class="work_img">
            <a href="/Healthcare">
                <img src="./img/healthcare.png" alt="healthcare">
            </a>
            <a href="/Healthcare"><button class="button"><span>Healthcare Digital Wallet</span></button></a>
            <a href="https://github.com/KenLearnsCoding/Healthcare_Digital_Wallet" target="_blank"><button class="button"><span>Github</span></button></a>
        </div>

        <div class="work_img">
            <a href="/cryptoExchange">
                <img src="./img/cryptoExchange.png" alt="crypto Exchange">
            </a>
            <a href="/cryptoExchange"><button class="button"><span>Crypto Exchange</span></button></a>
            <a href="https://github.com/KenLearnsCoding/Crypto_exchange_edition" target="_blank"><button class="button"><span>Github</span></button></a>
        </div>

        <div class="work_img">
            <a href="/weather">
                <img src="./img/weather.png" alt="weather Website">
            </a>
            <a href="/weather"><button class="button"><span>Weather Tracker</span></button></a>
            <a href="https://github.com/KenLearnsCoding/Weather_Website" target="_blank"><button class="button"><span>Github</span></button></a>
        </div>
    </div>
</main>
<!-- Path: files/partials/footer.ejs -->
<%- include('partials/footer.ejs') %>

</body>
</html>
