.about {
    display: flex;
    padding:50px;
    margin-top: 100px;
    justify-content: space-between;
    margin: 2rem;
    border-radius: 40px;
    border: 1px solid var(--black);
    background-color: black;
    color: white;
    padding: 100px 10px 24px;
    height: auto;
}

.hi {
    display: none;
}

.aboutImg {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 50px;
}

.brief_introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    margin-top: 100px;
    justify-content: space-between;
    margin: 2rem;
    border-radius: 40px;
    border: 1px solid var(--black);
    background-color: black;
    color: white;
    padding: 100px 10px 24px;
    height: auto;
}

.focus img {
    width: 40%;
    height: auto;
    margin: 40px;
    border-radius: 40px;
}

@media (min-width: 375px) and (max-width: 1023px) {
    .about {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
        border-radius: 40px;
        border: 1px solid var(--black);
        background-color: black;
        color: white;
        padding: 10px 10px 24px;
        height: auto;
    }

    .hi { 
        display: flex;
        margin: 50px
    }

    .aboutImg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 5%;
        margin-right: 0;
    }

    .brief_introduction {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5px;
    }




    .focus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:50px;
        margin-top: 100px;
        justify-content: space-between;
        margin: 2rem;
        border-radius: 40px;
        border: 1px solid var(--black);
        background-color: black;
        color: white;
        padding: 100px 10px 24px;
        height: auto;
    }

    .focus h2 {
        justify-content: center;
        align-items: center;
    }

    .focus img {
        width: 80%;
        height: auto;
        margin: 40px;
        border-radius: 40px;
    }

    .brief_introduction  h3{
        width: 80%;
    }
    
}

