
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    justify-content: space-between;
    margin: 2rem 2rem 100px;
    border-radius: 40px;
    border: 1px solid var(--black);
    background-color: black;
    color: white;
    padding: 50px;
    height: auto;
}

.contact_img {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_img img {
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.contact_info {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 40%;
}

@media (min-width: 375px) and (max-width: 1023px) {
    .contact {
        flex-direction: column;
        padding: 25px;

    }

    .contact_img {
        width: 100%;
        display: flex;
        align-items: center;
        text-align:start
    }

    .contact_img img {
        width: 300px;
        height: auto;
    }

    .contact_info {
        width: 100%;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

@media (min-width: 1024px) and (max-width: 2560px) {

    .contact_img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    .contact_img img {
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }
}

