.container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.work_img {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    border: 1px solid var(--black);
    background-color: black;
    color: white;
    padding: 100px 10px 24px;
    height: auto;
}

.work_img img {
    width: 70%;
    height: auto;
}

.work_img a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 375px) and (max-width: 1023px) {
    .container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .work_img {
        padding-top: 10px 0 0;
    }
}